/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Squada+One&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.hero__title, .border-block, .header__btn, .ticker__item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.ticker {
  color: #E1E1E1;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.ticker__wrapper {
  display: flex;
}

.ticker__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 17px;
  align-items: center;
  padding: 26px 15px;
  white-space: nowrap;
  text-transform: uppercase;
  animation: ticker 5s linear infinite;
}

.ticker__icon {
  margin-left: 30px;
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
}

body {
  color: #222222;
  min-height: 100vh;
}

.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 30px;
  background-color: #E1E1E1;
}
.header__btn {
  display: inline-block;
  background-color: #222222;
  color: #E1E1E1;
  font-size: 14px;
  padding: 17px 57px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}
.header__btn:hover {
  opacity: 0.9;
}
.header__logo {
  margin-left: 155px;
}
.header .nav__list {
  display: flex;
  margin-right: 8px;
  align-items: center;
}
.header .nav__link {
  margin-left: 50px;
  text-transform: uppercase;
  color: #222222;
  transition: all 0.3s ease-in-out;
}
.header .nav__link:hover {
  color: grey;
}

.border-block {
  border-right: 1px solid #222222;
  border-left: 1px solid #222222;
}

.hero__block {
  margin-top: -1px;
  display: flex;
  background-color: #222222;
}
.hero__left {
  border-right: 1px solid #E1E1E1;
  width: 50%;
}
.hero__right {
  width: 50%;
}
.hero__cover {
  display: flex;
  justify-content: center;
}
.hero__logo {
  width: 88%;
  padding: 66px 0;
}
.hero__image {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 6px;
}
.hero__img {
  width: 95%;
  margin: 19px 0;
}
.hero__title {
  color: #E1E1E1;
  padding: 24px;
  font-size: 58px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #E1E1E1;
}
.hero__right-image {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E1E1E1;
}
.hero__right-img {
  width: 93.1%;
  margin: 25px 0;
}/*# sourceMappingURL=main.css.map */