@import 'reset';
@import 'global';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'ticker';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
}

body {
  color: $black;
  background-color: $black;
  min-height: 100vh;
}

.container {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid $white;
}

.header {
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 30px;
    background-color: $white;
  }
  &__btn {
    display: inline-block;
    background-color: $black;
    color: $white;
    @extend %Roboto-400;
    font-size: 14px;
    padding: 17px 57px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 8px;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: .9;
    }
  }
  &__logo{
    margin-left: 155px;
  }

  .nav__list {
    display: flex;
    margin-right: 8px;
    align-items: center;
  }
  .nav__link {
    margin-left: 50px;
    text-transform: uppercase;
    color: $black;
    transition: all .3s ease-in-out;
    &:hover {
      color: grey;
    }
  }
}

.border-block {
    border-right: 1px solid $black;
    border-left: 1px solid $black;
    @extend %Roboto-400;
}

.title {
  @extend %Roboto-400;
  color: $white;
  padding: 24px;
  font-size: 58px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.hero {
 
  &__block {
    margin-top: -1px;
    display: flex;
    background-color: $black;
  }
  &__left {
    border-right: 1px solid $white;
    width: 50%;
  }
  &__right {
    width: 50%;
  }
  &__cover {
    display: flex;
    justify-content: center;
  }
  &__logo{
    width: 88%;
    padding: 77px 0;
  }
  &__image {
    display: flex;
    justify-content: center;
    padding: 4.5px 0;
  }
  &__img {
    width: 95%;
    margin: 19px 0;
  }
  &__title {
    border-bottom: 1px solid $white;
  }
  &__right-image {
    display: flex;
    justify-content: center;
   
  }
  &__right-img {
    margin: 28px 0;
    width: 95%;
  }
}

.products {
  &__title {
    padding: 50px 0;
    border-bottom: 1px solid $white;
  }
  &__content {
    padding: 20px 22px;
  }
  &__list {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    .card {
      position: relative;
      text-align: center;
      &__text {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
      }
      &__smell {
        @extend %Roboto-400;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &__title {
        @extend %Roboto-400;
        text-transform: uppercase;
        font-size: 32px;
      }
    }
  }
}

.slider {
  &__items {
    padding: 20px;
  }
  .slick-next::before {
    display: none;
  }
  .slick-prev::before {
    display: none;
  } 
}

.story {
  &__items {
    display: flex;
  }
  &__left {
    width: 50%;
    border: 1px solid $white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__left-title {
    padding: 48px 0;
  }
  &__left-img {
    max-width: 100%;
    width: 100%;
  }
  &__right {
    width: 50%;
  }
}

